@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~react-datepicker/dist/react-datepicker.css";

.formContainer {
  --max-width: 1000px;
  margin-inline: auto;
  width: min((100% - 2rem), var(--max-width));
  padding-top: 1.2rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

@media (max-width: 1000px) {
  .formContainer {
    --max-width: 400px;
    grid-template-columns: 1fr;
  }

  .illustration {
    display: none;
  }
}

.label > svg {
  fill: white;
}

.label:hover > svg {
  fill: rgb(28, 58, 141);
}

.label:hover ::placeholder {
  color: rgb(0, 0, 0);
}

.label input:focus {
  width: 250px;
}

.label input {
  width: 20px;
}

.label:hover ::placeholder {
  color: rgb(0, 0, 0);
}

.label input::placeholder {
  color: rgb(96 165 250);
}

@media (min-width: 480px) {
  .label input {
    width: 120px;
  }
  .label input::placeholder {
    color: rgb(255, 255, 255);
  }
}

@media (max-width: 800px) {
  .side-menu {
    position: absolute;
    z-index: 1000;
  }
  .main-container.active::before {
    content: "";
    position: absolute;
    top: 0; /* Corrected the value with "px" */
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    pointer-events: auto;
  }

  .main-container {
    position: relative;
  }
}


.active-link {
  border-radius: 6px;
  background-color:#eeeeee;
}


.app-container{
--max-width: 900px;
margin-inline: auto;
width: min((100% - 4rem), var(--max-width));
}

input:focus,
input:active {
  outline: none;
}

.done:hover span{
  display: block;
}

/* styles.css */
.date-calendar-container {
 border: 2px solid red;
 max-width: 250px;
 max-height: 300px;
}

.css-4jnixx-MuiStack-root>.MuiTextField-root{
  max-width: 175px !important;
  min-width: 0px !important;
}
