@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~react-datepicker/dist/react-datepicker.css";

.formContainer {
  --max-width: 1000px;
  margin-inline: auto;
  width: min((100% - 2rem), var(--max-width));
  padding-top: 1.2rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

@media (max-width: 1000px) {
  .formContainer {
    --max-width: 400px;
    grid-template-columns: 1fr;
  }

  .illustration {
    display: none;
  }
}

.label > svg {
  fill: white;
}

.label:hover > svg {
  fill: rgb(28, 58, 141);
}

.label:hover ::placeholder {
  color: rgb(0, 0, 0);
}

.label input:focus {
  width: 250px;
}

.label input {
  width: 20px;
}

.label:hover ::placeholder {
  color: rgb(0, 0, 0);
}

.label input::placeholder {
  color: rgb(96 165 250);
}

@media (min-width: 480px) {
  .label input {
    width: 120px;
  }
  .label input::placeholder {
    color: rgb(255, 255, 255);
  }
}

@media (max-width: 800px) {
  .side-menu {
    position: fixed;
    z-index: 1000;
  }
  .main-container.active::before {
    content: "";
    position: absolute;
    top: 0; /* Corrected the value with "px" */
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    pointer-events: auto;
  }

  .main-container {
    position: relative;
  }
}

.side-menu {
  height: calc(100vh);
}


.active-link {
  border-radius: 6px;
  background-color:#eeeeee;
}


.app-container{
--max-width: 900px;
margin-inline: auto;
width: min((100% - 4rem), var(--max-width));
}

input:focus,
input:active {
  outline: none;
}

.done:hover span{
  display: block;
}

.done.expand-button{
  transform: scale(1.3);
  background-color: rgb(212, 255, 224);
  transition: transform  0.3s ease;
}




/* styles.css */
.date-calendar-container {
 border: 2px solid red;
 max-width: 250px;
 max-height: 300px;
}

.css-4jnixx-MuiStack-root>.MuiTextField-root{
  max-width: 175px !important;
  min-width: 0px !important;
}





.MuiDialog-paperScrollPaper {
  max-height: none; /* Allow the content to expand without a max height */
}

.MuiDialogContent-root {
  overflow-y: auto; /* Enable vertical scrolling when the content exceeds the container height */
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper{
  overflow-y: visible !important;
}


/* Toaster */

.my-toast-container {
  background-color: black !important;
  color: white !important;
}