@tailwind base;
@tailwind components;
@tailwind utilities;

.formContainer {
    --max-width: 1000px;
    margin-inline: auto;
    width: min((100% - 2rem),var(--max-width));
    padding-top: 1.2rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

@media (max-width:1000px) {
    .formContainer{
        --max-width:400px;
        grid-template-columns: 1fr ;

    }

    .illustration{
        display: none;
    }
}